#xx .top-pad {
    padding-top: 7rem;
}
.right-pad {
    padding-right: 1vw;
}
.mrow {
    width: 75%;    
    margin: 0 auto;
}
.foot {
    max-width: 75%;
    font-size: smaller;
}
@media only screen and (max-width: 767px) {
    .mrow, .foot {
        width: 95%;
        max-width: 95%;
    }
}
.card_main {
    font-size: 2.75rem;
    text-align: right;
    padding-top: 0px;
}
.card_table {
    width: 100%;
}
.table_right {
    text-align: right;
}
.map_div {
    height: 50vh;
    width: 100%;
    padding: 0px;
}
.flag {
    max-width: 60px;
    height: auto;
    padding-left: 20px;
}
h2 {
    margin-bottom: 25px;
}
.rtable {
    width: 100%;
}
.ref:link, .ref:visited, .ref:hover, .ref:active {
    text-decoration: none;
    color: inherit;
}
.oops {
    max-width: 100%;
    height: auto;
}
.res_title {
    margin-bottom: 2px;
}
.res_main {
    margin-bottom: 5px;
}
.about {
    font-size: x-large;
}
.about_ref:visited, .about_ref:hover, .about_ref:active {
    color: #bbbbbb;
}
footer hr {
    margin-bottom: 5px;
}

