{% extends "layout.html" %}

{% block nav %}
<!-- {% block about_active %}active{% endblock %} -->
{% endblock %}

{% block main %}
<main role="main">
    <div class="row mrow top-pad about">
        <div class="col-lg-12">
            <a class="about_ref" href="https://cs50.harvard.edu/x/2020/">CS50x</a> final project<br>
            created with <a class="about_ref" href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a><br>
            APIs used: <a class="about_ref" href="https://openweathermap.org/api">OpenWeather</a>, <a class="about_ref" href="https://restcountries.eu/">REST Countries</a>, <a class="about_ref" href="https://developers.google.com/maps/documentation">Google Maps</a><br>
            submit a bug report and see other projects on my <a class="about_ref" href="https://github.com/theamian">Github</a>
        </div>
    </div>
</main>
{% endblock %}